.modal {
    height: 300px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 300px;
    left: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
}

.modal--content{
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
    height: 200px;
    width: 200px;
}

