.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgb(214, 203, 185);
  color: black;
}

.container input{
  display:block;
  margin:0 0 15px 0;
  padding:10px;
  width:250px;
  border:1px solid #ccc;
  outline: none;
  cursor: pointer;
}

.container input:focus {
  box-shadow:0 0 2px 1px rgb(1, 98, 1);
  transition-duration: 1s;
}

.btn{
  padding: 0 32px;
  height: 48px;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #a25dcf;
  color: white;
  cursor: pointer;
  margin: 0 8px;
  border-radius: 5px;
  border: none;
}
.btn01 {
     animation: background 1.6s ease infinite;
}

     @keyframes background {
        0% {
           background-color: #a25dcf;
        }
        50% {
           background-color: #481967;
        }
        10% {
           background-color: #a25dcf;
        }
     }